{% extends "front/base.html.twig" %}

{% block main %}

<h2>{{product.name}}</h2>
<h3>{{product.price}} €</h3>

<h4>{{product.licence.name}}</h4>
<h4>{{product.category.name}}</h4>

{% for media in product.media %}

    <img src="{{ media.src }}" alt="{{ media.alt }}">

{% endfor %}

{% endblock %}